<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @task.subject %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Due at:</b>
  <%= @task.due_at %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', user_path(current_user) %>
