<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Alias:</b>
  <%= @user.alias_name %>
</p>


<%= link_to 'Manage Account', edit_registration_path(@user) %>
