<header class="user">
  <span class="alias"><%= @user.alias_name %></span>
  <span class="name">(<%= @user.first_name %> <%= @user.last_name %>)</span>
  <%= link_to 'Manage Account', edit_registration_path(@user), :class => 'manage' %>
</header>


<ul id="tasks"><%= render @tasks %></ul>

