<h1>Listing task_lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_lists.each do |task_list| %>
  <tr>
    <td><%= task_list.name %></td>
    <td><%= link_to 'Show', task_list %></td>
    <td><%= link_to 'Edit', edit_task_list_path(task_list) %></td>
    <td><%= link_to 'Destroy', task_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task list', new_task_list_path %>
