<!DOCTYPE html>
<html>
<head>
  <title>TaskMate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if Rails.env.development? %>
    <%= render 'shared/dev_menu' %>
  <% end %>
  <div id="page_wrapper">
    <%= yield %>
  </div>
</body>
</html>

